<% if user_signed_in? %>
  <div align="right">
    <%= link_to('Logout', destroy_user_session_path, method: :delete) %>
  </div>
<% end %>
<h2>Summary</h2>
<strong>Total Pledges:</strong>
<%= ActiveSupport::NumberHelper.number_to_currency(Donation.all.sum(:amount)) %>
<% @sites.all.each do |site| %>
  <hr style="margin: 60px 0;" />
  <h2><%= site.title %></h2>
  <p><%= simple_format(site.description) %></p>
  <%= link_to "Edit title and description", edit_site_path(site) %>
  <div class="mb-5"></div>
  <p align="right">
    <%= link_to "New Event", new_event_path(site: site), class: 'btn btn-primary btn-sm' %>
    <%= link_to "Manage Slots", slots_path, class: 'btn btn-secondary btn-sm' %>
    <%= link_to "Export to CSV", events_path(:format => :csv), class: 'btn btn-secondary btn-sm' %>
  </p>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Donor</th>
        <th scope="col">Type</th>
        <th scope="col">Slots Remaining</th>
        <th scope="col">Amount</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <% site.events.ordered_by_position.each do |event| %>
        <tr class="table-secondary">
          <th colspan="5">
            <%= event.name %>
            <span class="dropdown" style="float:right;">
              <button class="btn btn-sm btn-outline-secondary dropdown-toggle no-caret" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-three-dots-vertical" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"/>
                </svg>
              </button>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                <%= link_to "Edit Event", edit_event_path(event), class: "dropdown-item" %>
                <%= link_to "Add Slot", new_event_event_slot_path(event), class: "dropdown-item" %>
                <div class="dropdown-divider"></div>
                <%= link_to "Delete Event", event, method: "delete", data: { confirm: "Are you sure you want to delete this event? Any associated sign up slots and donation records will be deleted.", disable_with: "Deleting..." }, class: "dropdown-item text-danger" %>
              </div>
            </span>
          </th>
        </tr>
        <% event.event_slots.each do |event_slot| %>
          <tr class="table<%= event_slot.available? ? (event_slot.event.donation_type == "nakaro" && event_slot.donor_limit ? "-warning" : "") : "-success" %>">
            <td>
              <% event_slot.donations.each do |donation| %>
                <div><strong><%= donation.name %></strong></div>
                <div><%= donation.email %></div>
                <div><%= donation.phone %></div>
                <%= link_to "Delete Pledge", donation, method: "delete", data: { confirm: "Are you sure you want to delete this pledge?", disable_with: "Deleting..." }, class: "dropdown-item text-danger" %>
              <% end %>
              <% if event_slot.event.donation_type == 'boli' %>
                <div>Available at ghee boli</div>
              <% elsif event_slot.available? %>
                <div><em>Slots Available – <%= link_to 'Sign Up', new_donation_path(id: event.id) if event_slot.available? %></em></div>
              <% end %>
            </td>
            <td><%= event_slot.slot.name %></td>
            <td><%= event_slot.donor_limit.nil? ? 'Unlimited' : event_slot.donor_limit - event_slot.donations.count %></td>
            <td><%= number_to_currency(event_slot.min_donation_amount) %></td>
            <td align="right">
              <%= link_to "Edit", edit_event_slot_path(event_slot) %>
              <%= link_to "Delete", event_slot, method: "delete", data: { confirm: "Are you sure you want to delete this slot? Any associated donation records will also be deleted.", disable_with: "Deleting..." }, class: "text-danger" %>
            </td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
<% end %>
