<div style="max-width: 540px; margin: 0 auto;">
  <h1>Ghee Boli/Nakaro Sign Up</h1>
  <h4 style="padding: 1em 0"><%= @event.name %></h4>
  <p><strong>Please select one of the available slots below:</strong></p>
  <div class="slots">
    <% @event.event_slots.each do |event_slot| %>
    <div class="slot">
      <input
        type="radio"
        id="event_slot_<%= event_slot.id%>"
        name="event_slot_id"
        value="<%= event_slot.id %>"
        style="margin-top: 0.5em; margin-right: 2em;"
        <%= "disabled" unless event_slot.available? %>
      >
      <label for="event_slot_<%= event_slot.id%>">
        <strong class="<%= 'disabled' unless event_slot.available? %>">
          <%= event_slot.slot.name %>
        </strong>
        <% if event_slot.available? %>
          <span class="badge badge-primary">Available</span>
        <% else %>
          <span class="badge badge-secondary">Taken</span>
        <% end %><br />
        <span class="<%= 'disabled' unless event_slot.available? %>">
          <%= event_slot.slot.description %>
        </span>
        <div><%= image_tag "jcoco_prime.png", width: '80px' if event_slot.slot.id == Slot.first.id && event_slot.event.prime_eligible %></div>
        <% if !event_slot.available? %>
          <strong>Labh taken by: </strong><%= event_slot.donation.name %>
        <% end %>
      </label>
    </div>
    <% end %>
  </div>
  <%= bootstrap_form_for @donation, url: create_event_path(id: @event.id) do |f| %>
    <% if @donation.errors[:base].length > 0 %>
      <div class="alert alert-danger">
        <p>Please fix the errors below.</p>
        <%= @errors.inspect %>
        <ul class="rails-bootstrap-forms-error-summary">
          <% @donation.errors[:base].each do |error| %>
            <li><%= error.message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <%= f.text_field :name, label: "Name(s)" %>
    <%= f.telephone_field :phone, label: "Phone Number" %>
    <%= f.email_field :email, label: "Email Address" %>
    <% if @event.donation_type == "boli" %>
      <%= f.text_field :amount, :class => 'amount', :value => (number_with_precision(f.object.amount, :precision => 2) || 0), prepend: ['$'] %>
    <% end %>
    <%= f.hidden_field :event_slot_id %>
    <div style="text-align: right;">
      <%= f.hidden_field :amount if @event.donation_type == "nakaro" %>
      <%= button_tag "Cancel", type: "submit", name: "cancel", value: true, class: "btn" %>
      <%= f.primary "Confirm Selection", disabled: true, id: "submit" %>
    </div>
  <% end %>
</div>
<script>
  var selected_slot = "<%= @donation.event_slot_id %>";
  console.log("selected slot", selected_slot);
  document.getElementById("donation_event_slot_id").value = selected_slot;
  if (selected_slot) {
    document.getElementById("event_slot_<%= @donation.event_slot_id %>").checked = true;
    document.getElementById("submit").disabled = false;
  }
  var phone = document.getElementById("donation_phone");
  var im = new Inputmask("(999) 999-9999");
  im.mask(phone);
  var rad = document.getElementsByName("event_slot_id");
  var prev = null;
  for (var i = 0; i < rad.length; i++) {
    rad[i].addEventListener('change', function() {
      if (this !== prev) {
          prev = this;
      }
      document.getElementById("donation_event_slot_id").value = this.value;
      document.getElementById("submit").disabled = false;
      console.log(this.value)
    });
  }
</script>
