<%= bootstrap_form_for @event_slot do |f| %>
  <% if @event_slot.errors[:base].length > 0 %>
    <div class="alert alert-danger">
      <p>Please fix the errors below.</p>
      <%= @errors.inspect %>
      <ul class="rails-bootstrap-forms-error-summary">
        <% @event_slot.errors[:base].each do |error| %>
          <li><%= error.message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.collection_select(:slot_id, Slot.all, :id, :name, label: "Slot Type" ) %>
  <%= f.text_field :min_donation_amount, :class => 'amount', :value => (number_with_precision(f.object.min_donation_amount, :precision => 2) || 0), prepend: ['$'] %>
  <%= f.hidden_field :event_id %>
  <div style="text-align: right;">
    <%= link_to 'Cancel', admin_path, class: "btn" %>
    <%= f.primary "Save", id: "submit" %>
  </div>
<% end %>
